div::before{
    content: "Before Element";
	color:rgb(255, 0, 0);
	font-size:20px;
	font-weight:bold;
}

div::after{
    content: "After Element";
	color:rgb(255, 0, 0);
	font-size:20px;
	font-weight:bold;
}